:root {
	--Pricing-Component-Background: hsl(0, 0%, 100%);
	--Main-Background: hsl(230, 100%, 99%);
	--Empty-Slider-Bar: hsl(224, 65%, 95%);
	--Toggle-Background: hsl(223, 50%, 87%);
	--Grayish-Blue-Text: hsl(225, 20%, 60%);
	--Dark-Desaturated-Blue: hsl(227, 35%, 25%);
	--Full-Slider-Bar: hsl(174, 77%, 80%);
	--Discount-Background: hsl(14, 92%, 95%);
	--Disciunt-Text: hsl(15, 100%, 70%);
	--CTA-Text: hsl(226, 100%, 87%);
}
.pricing {
	height: 50%;
	display: grid;
	grid-template-columns: 40% 15% 40%;
	grid-template-rows: 20% 20% 20% 35%;
	grid-template-areas:
		'packages packages charges'
		'testing testing testing'
		'billing billing billing'
		'bottom-part bottom-part bottom-part';
	position: absolute;
	margin: 0 auto;
	gap: 0.5rem;
	width: 50%;
	padding: 2rem;
	background-color: var(--Pricing-Component-Background);
	padding-bottom: 4rem;
	top: 30%;
	left: 25%;
	box-shadow: 4px 2px 5px hsl(225, 20%, 60%);
}
.packages {
	grid-area: packages;
	/* background-color: red; */
}
.billing {
	grid-area: billing;
	/* background-color: blue; */
}
.charges {
	grid-area: charges;
	/* background-color: cadetblue; */
}
.slider {
	grid-area: testing;
	justify-content: center;
	/* padding: 2rem; */
}
.bottom_part {
	grid-area: bottom-part;
	border-top: 2px solid grey;
	display: flex;
	justify-items: space-between;
	flex-direction: row;
	padding-top: 1.5rem;
}
.bottom_part .CTA_features {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-items: centre;
}
.CTA_features p {
	color: green;
	font-size: 20px;
	margin: 0.4rem;
}
.CTA_features span {
	color: grey;
	margin-left: 1rem;
}
.trial-container {
	width: 50%;
	height: 90%;
}
.trial-box {
	width: 70%;
	height: 1.5rem;
	margin-top: 2.3rem;
	padding: 0.5rem;
	background-color: black;
	text-align: center;
	justify-content: center;
	float: right;
	margin-right: 1rem;
	font-size: 20px;
	color: white;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.trial-box p {
	line-height: 1.5rem;
	margin-bottom: 3rem;
}

@media screen and (max-width: 500px) {
	pricing {
		height: 90%;
		grid-template-columns: 40% 15% 40%;
		grid-template-rows: 40% 40% 40% 45%;
		grid-template-areas:
			'packages packages packages'
			'billing'
			'testing'
			'bottom-part bottom-part bottom-part';
		position: absolute;
		gap: 0.5rem;
		width: 90%;
		padding: 2rem;
		background-color: var(--Pricing-Component-Background);
		padding-bottom: 4rem;
		top: 30%;
		left: 25%;
		box-shadow: 4px 2px 5px hsl(225, 20%, 60%);
	}
}
