:root {
	--Pricing-Component-Background: hsl(0, 0%, 100%);
	--Main-Background: hsl(230, 100%, 99%);
	--Empty-Slider-Bar: hsl(224, 65%, 95%);
	--Toggle-Background: hsl(223, 50%, 87%);
	--Grayish-Blue-Text: hsl(225, 20%, 60%);
	--Dark-Desaturated-Blue: hsl(227, 35%, 25%);
	--Full-Slider-Bar: hsl(174, 77%, 80%);
	--Discount-Background: hsl(14, 92%, 95%);
	--Disciunt-Text: hsl(15, 100%, 70%);
	--CTA-Text: hsl(226, 100%, 87%);
}
.header_container {
	position: absolute;
	width: 40%;
	text-align: center;
	padding: 1rem;
	top: 4rem;
	left: 30%;
}
.introductory_text h2 {
	font-size: 30px;
}
.introductory_text p {
	font-size: 15px;
}
@media screen and (max-width: 500px) {
	.header_container {
		width: 90%;
	}
	.introductory_text h2 {
		font-size: 15px;
	}
	.introductory_text p {
		font-size: 15px;
	}
}
